.container{
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
  color: white;
  position: relative;
}
.bgimg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(17, 17, 17);
}
  .logoimage{
    width: 7vw;
    height: auto;
    border: 1px solid rgb(228, 228, 228);
    padding-bottom: 5px;
    background-color: white;
   }
.heading1{
  font-size: 28px;
  font-weight: 600;
}
.heading2{
  font-size: 20px;
  font-weight: 600;
}
.row{
  width: 20vw;
}
.row1{
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.row2{
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.row3{
  width: 12vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn:hover{
  color: rgb(218, 218, 218);
  cursor: pointer;
}
.linkflex1, .linkflex2, .linkflex3, .linkflex5, .linkflex4, .linkflex6, .linkflex7, .linkflex8{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}
.linkflex1:hover, .linkflex2:hover, .linkflex3:hover, .linkflex5:hover, .linkflex4:hover, .linkflex6:hover, .linkflex7:hover, .linkflex8:hover{
  color: rgb(218, 218, 218);
  cursor: pointer;
}
.icon{
  font-size: 20px;
}
.newsletter{
  width: 20vw;
}
.newsletterc{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.newletterdesc{
  margin: 10px 0 30px;
  font-size: 14px;
}
.input{
  padding: 10px;
  width: 15vw;
  border: 1px solid white;
}
.input:focus{
  outline: none;
}
.button{
  padding: 10px 1.5vw;
  border: none;
  background-color: #1f386b;
  color: white;
}
.bottom{
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: rgb(208, 208, 208);
  background-color: #333;
}
.link{
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 720px){
  .container{
    flex-direction: column;
    padding: 60px 5%;
    gap: 40px;
  }
  .row1, .row2, .row3, .row4, .newsletter{
    width: 100%;
  }
  .input{
    width: 70vw;
    height: 30px;
  }
  .button{
    width: 15vw;
    height: 53px;
  }
  .logoimage{
    width: 30vw;
  }
}