.container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 30px;
  font-weight: 700;
}
.heading span{
  color: #E41937;
}
.headingtext{
  text-align: center;
  font-size: 14px;
  width: 35vw;
  margin-top: 10px;
  margin-bottom: 40px;
}
.slider{
  width: 100vw;
  padding:0 10% 0 12%;
}
.img{
  width: 24vw;
  height: 300px;
  object-fit: cover;
}
.cardinfo{
  width: 21.85vw;
  padding: 20px 4%;
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  border-bottom: 2px solid #1f386b ;
  min-height: 240px;
}
.text3{
  background-color: #1f386b;
  padding: 10px;
  color: white;
  margin-top: 15px;
}
.cardtitle{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.cardflexend{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0 10px;
}
.discount{
  padding: 10px 5%;
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
}
.link{
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 720px){
  .headingtext{
    width: 100%;
  }
  .cardinfo{
    width: 90%;
    border-left: none;
    border-right: none;
  }
  .img{
    width: 100%;
  }
  .slider{
    width: 95vw;
    padding:0;
  }
  .cardflexend{
    justify-content: flex-start;
    gap: 10vw;
  }
}